:root {
	/*colors*/
	--principal-color: #F49F0A;
	--firts-color: #00A6A6;
	--second-color: #EFCA08;
	
	/*	font-family */
	--font-principal:'Quicksand', sans-serif;
}
	/*article principal tag*/
article{
	background-color: var(--second-color);
	margin: .5em;
	min-height: 120px;
}
 	/*aside and principal container*/
aside, #container-sub {
	display: inline-block;
	min-height: 200px;
	vertical-align: top;
	background-color: var(--firts-color);
	width: 44.4%;	
}
 /*aside tag*/
aside {
	width: 36%;
}
/*principal tags to html and body*/
html, body {
	background-color: var(--principal-color);
	text-align: center;
	font-family: var(--font-principal);
	font-size: 1rem;
	color: white;
}
/*container principal */
#container-principal {
	widows: 83%;
}
/*container background color*/
.color-background__pink { 
	background-color: var(--firts-color);
}
/* container principal settings  */
.container-line {
	margin: .25em auto;
	padding: .25em;
	width: 80%;
}

h1 {
	font-size: 3rem; !important
}

img {
 	margin: 3em;
 }


